body {
    background-color: rgb(252, 248, 248);
}

div {
    width: 25.75%;
    border: 20px;
    margin: 0 auto;
    padding: 50px;
    text-align: centre;
    font-size: medium;
}

.d1 {
    background-color: grey;
    float: left;
}

.d2 {
    background-color: rgb(37, 37, 122);
    float: right;
}

.d3 {
    background-color: rgb(38, 93, 126);
    clear: both;
}

.d4 {
    background-color: rgb(103, 142, 226);
    float: left;
}

.d5 {
    background-color: rgb(201, 147, 156);
    float: right;
}

div:hover {
    opacity: 0.5;
}
